*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root
{
    font-size: 62.5%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* remove list styles only when role="list" (must specify role="list" for 
safari accessibility) */
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/*end of reset*/

.container
{
    display: grid;
    grid-template: 2fr 9fr / 1fr 5fr;
    min-height: 100vh;
}

.header
{
    background-color: red;
}

.sidebar
{
    background-color: #1992D4;
    grid-row: 1 / 3;
    padding-left: 2em;
    padding-top: 2em;
    display: grid;
    grid-template: repeat(15, 1fr) / 1fr;
}

.sidebar-top
{
    grid-row: 1 / 3;
}

.side-nav
{
    grid-row: 3 / 9;
}

.side-help
{
    grid-row: 10 / 13;
}

.main-content
{
    background-color: #E2E8F0;
}

.side-nav,
.side-help
{
    font-size: 2rem;
}

.sidebar-header-text
{
    color: white;
    font-size: 4rem;
}

.nav-text
{
    color: white;
}

.side-icon {
  width: 2rem;
  height: 2rem;
}

.dash-icon
{
    width: 4rem;
    height: 4rem;
}


.sidebar-top,
.side-nav,
.side-help
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
