*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root
{
    font-size: 62.5%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* remove list styles only when role="list" (must specify role="list" for 
safari accessibility) */
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/*end of reset*/

.container
{
    display: grid;
    grid-template: 2fr 9fr / 1fr 5fr;
    min-height: 100vh;
}

.header {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    padding: 1.5em;
}

.sidebar
{
    background-color: #1992D4;
    grid-row: 1 / 3;
    padding-left: 2em;
    padding-top: 2em;
    display: grid;
    grid-template: repeat(15, 1fr) / 1fr;
}

.sidebar-top
{
    grid-row: 1 / 3;
}

.side-nav
{
    grid-row: 3 / 9;
}

.side-help
{
    grid-row: 10 / 13;
}

.main-content
{
    background-color: #E2E8F0;
}

.side-nav,
.side-help
{
    font-size: 2rem;
}

.sidebar-header-text
{
    color: white;
    font-size: 4rem;
}

.nav-text
{
    color: white;
}

.side-icon {
  width: 2rem;
  height: 2rem;
}

.dash-icon
{
    width: 4rem;
    height: 4rem;
}


.sidebar-top,
.side-nav,
.side-help
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.header-icon
{
    width: 2em;
    height: 2em;
}

.pfp-settings
{
    width: 5em;
    height: 5em;
    border-radius: 100%;
}

.profile-pfp
{
    width: 7.5em;
    height: 7.5em;
    border-radius: 100%;
}

.temp-flex
{
    display: flex;
}

.header-grid-top
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 2em;
}

.header-grid-bottom
{
    display: grid;
    grid-template-columns: 9fr 4fr;
}

.searchbar
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2em;
    align-items: center;
}

.header-top-right
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

.header-top-right h3
{
    font-size: 1.8rem;
}

.searchbar input[type="search"]
{
    width: 80%;
    height: 50%;
    background-color: #E2E8F0;
    border-radius: 1.2em;
    font-size: 1.6rem;
    border: none;
    padding: 1em;
}

.searchbar form input[type="search"]:focus
{
    outline: 2px solid blue;
}


.searchbar form
{
    height: 100%;
    display: flex;
    align-items: center;
}

.header-bottom-left
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5em;
}

.header-bottom-left-text h2
{
    font-size: 3rem;
}

.header-bottom-left-text h4
{
    font-size: 1.6rem; 
}

.header-bottom-right
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4em;
    padding-right: 4em;
}


.header-bottom-right button
{
    font-size: 1.8rem;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #1992D4;
    color: white;
    border-radius: 2em;
    border: 0px;
}

.header-top-right .header-icon
{
    justify-self: end;
}

.header-top-right h3
{
    justify-self: start;
}


.main-content
{
    display: grid;
    grid-template-columns: 8fr 3fr;
}

.main-content h2
{
    font-size: 2.2rem;
}


.main-content h3
{
    font-size: 1.8rem;
}

.card
{
    border-left: 5px solid #F0B429;
    background-color: #FFFFFF;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1.2em;
    min-height: 21rem;
    padding: 2em 2em;
}

.card-grid
{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
}

.projects
{
    padding: 2em;
}

.announcements h2,
.projects h2
{
    margin-bottom: .5em;
}

.main-content p
{
    font-size: 1.6rem;
    color: #686868;
}


.announcements
{
    padding: 2em;
}


.card
{
    display: grid;
    grid-template-rows: auto 1fr;
}

.card-icons
{
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.right-align-icons
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-icon
{
    width: 2.5em;
    height: 2.5em;
}

.announcements
{
    display: grid;
}

.right-side-card
{
    background-color: #FFFFFF;
    border-radius: 1.2em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}


.right-side-card img
{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    margin-bottom: 1em;
}

.right-side-card:nth-of-type(1)
{
    padding: 3em; 
    margin-bottom: 2rem;
    height: 35vh;
}

.right-side-card:nth-of-type(1) p:not(:last-of-type)
{
    margin-bottom: 1em; 
    border-bottom: .1em solid #cccccc;
}

.right-side-card:nth-of-type(2)
{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1.5em;
    gap: 1.5em;
    height: 31vh;
}

.right-side-card h3
{
    font-size: 1.6rem;
}
